<section id={{include.id}} class="wrapper spotlight {%if include.is_alt=="True"%}alt{%endif%} {{include.style}}">
        <div class="inner">
            <a href="#" class="image"><img src={{include.image}} alt="" width="257.52" height="257.52"/></a>
            <div class="content">
                <!-- {%if include.is_alt%} is_alt {%endif%} -->
                <h2 class="major">{{include.header}}</h2>
                <p>{{include.content}}</p>
                {% if include.show_learnmore=="True"%}
                <a href="#" class="special">Learn more</a>
                {%endif%}
            </div>
        </div>
</section>